.hero {
  /* height: 80vh; */
  min-height: 500px;
  background-image: url(../assets/hero.jpg);
  background-size: cover;
  background-image: center;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-container {
  margin-left: 6rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  max-width: 650px;
}

.hero__title {
  font-size: 2.3rem;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #323f20;
  /* line-height: 3.2rem; */
}

.hero__subtitle {
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 1.15rem;
  color: #323f20;
  margin-top: 0.3rem;
  max-width: 600px;
}

.button {
  background-color: #e47681;
  border: none;
  color: white;
  padding: 13px 30px;
  margin-top: 1rem;
  text-decoration: none;
  font-size: 20px;
  font-family: Poppins;
  transition: all 0.2s ease;
}

button.button:active {
  transform: scale(0.88);
  box-shadow: 0 0 7px rgba(82, 82, 82, 0.381);
  cursor: pointer;
}

button.button:hover {
  transform: scale(1.1);
  background-color: #f1707d;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hero__title {
    padding-top: 3rem;
    font-size: 2rem;
  }

  .hero__subtitle {
    padding-top: 1rem;
    font-size: 1.2rem;
  }
  .hero {
    /* height: 80vh; */
    min-height: 300px;
    background-size: cover;
    background-image: center;
    padding-left: 4rem;
    padding-right: 0.5rem;
    background-color: pink;
  }
  .hero-container {
    margin-left: 2rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 600px) {
  .hero__title {
    padding-top: 0.2rem;
    font-size: 1.5rem;
  }

  .hero__subtitle {
    padding-top: 0.2rem;
    font-size: 1rem;
  }
  .hero {
    /* height: 80vh; */
    height: 400px;
    background-size: cover;
    background-image: center;
    padding-left: 0.5rem;
    padding-right: 0rem;
    background-color: pink;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    margin: 0 3.2rem;
    justify-content: flex-start;
  }
}
